/*
#222831
#31363F
#76ABAE
#EEEEEE
*/
.body-style{
    
    background-color: #222831;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.estrenos{

    display: flex;
    width: 90%; 
    margin-right: 5%;
    margin-left:5%;
    height: 353px;
    margin-top: 2%;
}

.estrenos img{

    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: 1s ease;
    border-radius: 5px;
}

.text-estrenos{

    text-align: center;
    margin-top: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 0 0 10px rgb(236, 233, 233);


}

.estrenos img:hover{

    cursor:pointer;
    width: 80%;
    opacity: 1;
    
}

.container-large{
    
    width: 90%;
    align-items: center;
    margin: 5%;
    background-color:#31363F ;
}

.container-pelis{

    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    color: black;
    text-shadow: 0 0 4px rgb(243, 243, 243);
    
}

.title-pelis{

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-shadow: 0 0 10px rgb(236, 233, 233);
    padding-bottom: 2%;
}

.pelis-div{
    
    width: 25%;
    padding:2%;
}

.pelis-div h3{

    width: 100%;
    height: 60px;
}



.img-select{

    opacity:0.75 ;
    border-radius: 15px;  
}

.img-select:hover{
    
    opacity:1 ;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 15px #76ABAE ;
    transition-duration: 1s;
}

.container-nav{

    display:flex;
    background: rgba(0, 0, 0, .1);
    justify-content:center;
    align-items: center;
}

.text-menu{
    
    display: inline-block;
    margin-right: 1.5rem;
    font-family: "Saira Stencil One", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
}

a:link{
    
    
    text-decoration: none;
}

.container-nav a{

    color: #76ABAE  ;
    font-family: "Saira Stencil One", sans-serif;
}

a:hover{

    color: black;
    text-shadow: 0 0 10px #EEEEEE;
    transition-duration: 1s;  
}

.logo{
    
    width: 100%; 
}

footer{

    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #31363F;
    align-items: center;
    text-align: center;
    color: black;
    padding-top: 25px;
    font-size: 1rem;
    font-weight: 600;
    

}

footer a{
    margin: 10px;
    text-decoration: none;
}

.bi{

    font-size: 30px;
    color: black;
}


@media screen and (max-width: 1200px) {

    .container-pelis{

       
        width: 100%;  
    }
    
}

@media screen and (max-width: 992px){

    .pelis-div{
    
        width: 33%;
        padding:2%;
    }

   
}

@media screen and (max-width: 576px){

    .pelis-div{
    
        width: 50%;
        
    }
    .container-nav{
        display:flex ;
        flex-direction: column;
        
    }
}


