.body-style{

    background-color: #222831;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}

form{

    margin-top: 10%;
    display: inline-block;
    justify-content: center;
    color: black;
    width: 60%;
    margin-left: 20%;
    padding-right: 5%;
    padding-left: 5%;
    
    border-radius: 5px;
    box-shadow: 0 0 10px #76ABAE;
  
}

form h2{
    color: black;
    text-shadow:0 0 10px white;
}

form input{
    width: 100%;
    color: black;
    border-radius: 5px;
    margin-bottom: 4%;
    background-color: #76ABAE;
}

.terminos-condiciones{

    margin-bottom: 20px;
    padding-left: 5%;
    color: black;
    font-weight: 200;
}
button{

    background-color: #76ABAE;
    border-radius: 5px;
    margin-bottom: 10px;
}

